<li><%= link_to t('.records.index.title'), { controller: 'records', **request.query_parameters.except(:id, :page, :per) } %></li>
<li><span class="px-3"><%= @record.record_name %></span></li>
<li class="is-active"><%= t('.title') %></li>
