<div>
  <dt><%= Meta::Business.human_attribute_name(:name) %></dt>
  <dd><%= @meta_business.name %></dd>
</div>
<div>
  <dt><%= Meta::Business.human_attribute_name(:identifier) %></dt>
  <dd><%= @meta_business.identifier %></dd>
</div>
