<th>
  <p><%= SolidCache::Entry.human_attribute_name(:key) %></p>
  <p><%= SolidCache::Entry.human_attribute_name(:key_hash) %></p>
</th>
<th><%= SolidCache::Entry.human_attribute_name(:byte_size) %></th>
<th><%= SolidCache::Entry.human_attribute_name(:created_at) %></th>
