<%= form_with theme: 'modal', model: @publication, url: { action: 'update', **request.GET.slice('shard') } do |f| %>
  <%= render 'modal_header' %>
  <section id="modal-card-body" class="modal-card-body">
    <%= f.collection_checkboxes :tables, @tables, :to_s, :to_s %>
  </section>
  <%= f.submit %>
<% end %>
