<th><%= Log::Query.human_attribute_name(:name) %></th>
<th><%= Log::Query.human_attribute_name(:sql) %></th>
<th><%= Log::Query.human_attribute_name(:duration) %></th>
<th>
  <p class="text-grey"><%= Log::Query.human_attribute_name(:created_at) %></p>
</th>
