<div class="tabs">
  <ul>
  <% Pg::BaseRecord.shard_keys.each do |key| %>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to key, { action: 'index', shard: key } %>
    </li>
  <% end %>
  </ul>
</div>
