<%= button_to({ action: 'sync' }, method: :post, data: { disable_with: 'Syncing' }, class: 'button is-success') do %>
  <%= svg_tag 'rotate' %>
  <span class="ml-1"><%= t('.sync') %></span>
<% end %>
