<li><%= link_to t(models.index.title'), { controller: 'models', **request.query_parameters.except(:id, :page, :per) } %></li>
<li><span class="px-3"><%= @model.record_name %></span></li>
<li class="is-active"><%= t('.title') %></li>
