<div class="menu">
  <div class="menu-label">接口列表</div>
  <ul class="menu-list">
  <% @subjects.includes(:meta_action).each do |subject| %>
    <li><%= link_to subject.meta_action.name, { controller: 'subjects', action: 'show', id: subject.id }, class: 'menu-item' %></li>
  <% end %>
  </ul>
</div>