<div class="field is-horizontal">
  <div class="field-label"></div>
  <div
    data-controller="amap"
    data-amap-key-value="<%= Rails.app.creds.require('amap', 'key') %>"
    data-amap-code-value="<%= Rails.app.creds.require('amap', 'code') %>"
    class="field-body flex-direction-column"
  >
    <%= f.hidden_field :geo, data: { amap_target: 'input' } %>
    <div>
      <input id="tipinput" placeholder="搜索地址" class="input">
    </div>
    <div data-amap-target="container" style="height: 300px"></div>
    <%= f.text_area :address, label: nil, data: { amap_target: 'address' } %>
  </div>
</div>
