<div data-controller="input-select" class="panel is-fullwidth">
  <%= f.hidden_field name, data: { input_select_target: 'input' } %>
  <% f.object.class.options_i18n(name).each do |text, value| %>
    <div data-action="click->input-select#select" data-value="<%= value %>" class="<%= f.object.public_send(name) == value ? 'panel-block is-active' : 'panel-block'%>">
      <span><%= text %></span>
    </div>
  <% end %>
</div>
