<div class="field is-grouped">
  <div class="control">
    <%=
      text_field_tag(
        @column_name,
        params[:value],
        placeholder: @meta_column ? "请输入#{@meta_column.i18n_name}" : '',
        autofocus: true,
        autocomplete: 'off',
        data: { action: 'keydown.enter->filter-input#submit' },
        class: 'input',
        id: nil,
        form: 'filter_search_form'
      )
    %>
  </div>
  <div class="control">
    <%= submit_tag '确认', name: nil, data: { action: 'filter-input#submitButton', item: @column_name }, class: 'button', form: 'filter_search_form' %>
  </div>
</div>