<div class="card as-transparent">
  <div class="card-header">
    <span class="size-7 text-grey has-border-left-primary">今日营收</span>
  </div>
  <div class="card-content fixed-grid has-2-cols">
    <div class="grid">
      <div class="cell has-column-centered">
        <strong class="size-5"><%= 0.to_money.format.html_safe %></strong>
        <p class="size-7 text-grey">营业额</p>
      </div>
      <div class="cell has-column-centered">
        <strong class="size-5">0</strong>
        <p class="size-7 text-grey">单数</p>
      </div>
    </div>
  </div>
</div>
