<turbo-frame id="panel" title="<%= current_title %>">
  <div class="loading">loading...</div>
  <ul class="breadcrumb has-succeeds-separator ml-3"><%= render 'breadcrumb' %></ul>
  <%= render 'alert' %>
  <div class="box flex-grow-1 radius-bottom-none">
    <%= yield %>
  </div>
</turbo-frame>
