
<div data-show-target="item" class="visibility-hidden">
  <%= link_to({ controller: 'pg_publication_tables', pg_publication_id: model.id }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'sitemap' %>
    <span class="ml-1"><%= t('.pg_publication_tables.index.title') %></span>
  <% end %>
</div>
