<li><%= link_to t('.publications.index.title'), { controller: 'publications', **request.GET.slice('shard') } %></li>
<li><span class="px-3"><%= @publication.pubname %></span></li>
<li class="is-active"><%= t('.title') %></li>
