<%= render layout: 'layouts/phone_head' do %>
  <body>
    <%= render 'top_bar' %>
    <main id="weui-tab__panel" class="as-bottom">
      <div class="box is-padding-less p-3">
        <%= yield %>
      </div>
    </main>
    <%= render 'tab_bar' %>
  </body>
<% end %>
