<div data-controller="picture-print" class="picture">
  <div class="file is-boxed is-fullwidth">
    <label class="file-label">
      <%=
        f.file_field(
          name,
          wrap: { input: false },
          all: { normal: false },
          label: nil,
          data: { action: 'picture-print#upload' },
          class: 'file-input',
          **local_assigns.slice(:form)
        )
      %>
      <span class="file-cta">
        <span class="file-icon">
          <%= svg_tag 'upload' %>
        </span>
        <span>选择文件</span>
      </span>
    </label>
  </div>
  <div data-picture-target="preview">
    <canvas data-picture-print-target="canvas"></canvas>
  </div>
</div>
