<div data-controller="picture" class="field is-horizontal">
  <%= f.label target.name %>
  <div class="field-body control">
  <% if target.is_a?(ActiveStorage::Attached::One) %>
    <%= render partial: 'com/attachments/file_upload_one', locals: local_assigns %>
  <% else %>
    <%= render partial: 'com/attachments/file_upload', locals: local_assigns %>
  <% end %>
  </div>
</div>
