<div class="columns m-0">
  <div class="column">
    <%= render partial: 'admin_tags', collection: @meta_businesses, as: :model, cached: cache_with_model('admin') %>
  </div>
  <div class="column">
    <div class="box">
      <%= render partial: 'profile' %>
    </div>
  </div>
</div>
