<div class="columns m-0">
  <div
    data-controller="admin-actions"
    data-admin-actions-data-value="<%= current_member.all_shortcuts.to_json %>"
    class="column"
  >
    <%= render partial: 'admin_tags', collection: @businesses, as: :model, cached: cache_with_model('admin') %>
  </div>
  <div class="column">
    <div class="box">
      <%= render partial: 'profile' %>
    </div>
  </div>
</div>
