<div class="dropdown is-hoverable is-left">
  <div class="dropdown-trigger">
    <button class="button">
      <span><%= record_class.human_attribute_name(key) %></span>
      <%= svg_tag 'angle-down' %>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <%= link_to t('.all'), filter_params(except: [key]), class: active_helper(key => nil, active: 'dropdown-item is-active', item: 'dropdown-item') %>
      <div class="dropdown-divider"></div>
      <% record_class.options_i18n(key).each do |text, value| %>
        <%= link_to text, filter_params(key => value), class: active_helper(key => value, active: 'dropdown-item is-active', item: 'dropdown-item') %>
      <% end %>
    </div>
  </div>
</div>
