<li><%= link_to t('.controllers.index.title'), { controller: 'controllers' } %></li>
<li><span class="px-3"><%= @controller.controller_path %></span></li>
<li class="is-active"><%= t('.title') %></li>
