<%= link_to({ controller: '/me/home', host: "admin.#{Rails.application.routes.default_url_options[:host]}" }, class: 'text-warning') do %>
  <%= svg_tag 'arrows-rotate', class: 'icon is-medium mr-0' %>
  <span class="family-monospace size-7">后台管理</span>
<% end %>
