<%= link_to organ.redirect_url(auth_token: Current.session.once_token), class: 'media' do %>
  <div class="media-content">
    <span><%= organ.name %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
