<div data-controller="notice" class="has-animate-auto-fade">
  <div class="notification is-danger mb-0">
    <button class="delete" data-action="notice#close"></button>
    <div><%= message %></div>
  </div>
  <progress data-notice-target="progress" class="progress is-tiny is-danger" max="100" value="100"></progress>
</div>