<%= form_with theme: 'phone_modal', model: model, scope: model_name, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <section id="modal_card_body" class="modal-card-body">
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
