<div class="py-2">
  <%= form_with theme: nil, method: :get, data: { controller: 'search' }, class: 'field' do |f| %>
    <div class="control has-icons-left">
      <%= f.search_field 'name-like', value: params['name-like'], placeholder: '搜索', data: { search_target: 'input' }, class: 'input is-rounded' %>
      <%= svg_tag 'magnifying-glass', class: 'icon is-small is-left p-3' %>
    </div>
  <% end %>
</div>