<template id="template_tr_action">
  <form class="button_to" method="post">
    <button class="button is-small is-borderless" type="submit">
      <svg class="icon">
        <use href="<%= asset_path 'icons_light.svg', host: request.host_with_port %>"></use>
      </svg>
      <span class="ml-1"></span>
    </button>
  </form>
</template>
<template id="template_tr_link">
  <a class="button is-small is-borderless">
    <svg class="icon text-info">
      <use href="<%= asset_path 'icons_light.svg', host: request.host_with_port %>"></use>
    </svg>
    <span class="ml-1"></span>
  </a>
</template>
