<div class="card as-head">
  <div class="card-header"><%= t('.title') %></div>
  <div class="card-content">
    <%= yield %>
  </div>
  <div class="card-footer">
    <%= render 'button' %>
  </div>
</div>
