<nav class="level mb-2 is-narrow">
  <div class="level-left">
    <h2 class="title is-3"><%= t('.title') %></h2>
    <% if instance_variable_defined? "@#{pluralize_model_name}" %>
      <p class="text-grey">
        <span>共</span>
        <span><%= instance_variable_get("@#{pluralize_model_name}").count %></span>
        <span>条记录</span>
      </p>
    <% end %>
    <%= render 'filter_form' %>
  </div>
</nav>
<div class="breadcrumb has-succeeds-separator background-light">
  <ul>
    <%= render 'breadcrumb' %>
  </ul>
</div>