<nav class="level is-narrow">
  <div class="level-left">
    <h2 class="title is-3"><%= t('.title') %></h2>
    <% if instance_variable_defined?("@#{pluralize_model_name}") && instance_variable_get("@#{pluralize_model_name}").respond_to?(:total_count) %>
      <p class="text-grey">
        <span>共</span>
        <span><%= instance_variable_get("@#{pluralize_model_name}").total_count %></span>
        <span>条记录</span>
      </p>
    <% end %>
  </div>
  <div class="level-right">
    <%= render partial: 'filter_per', locals: { models: instance_variable_get("@#{pluralize_model_name}") } if instance_variable_defined? "@#{pluralize_model_name}" %>
  </div>
</nav>

<% if instance_variable_defined?(:@filter_columns) %>
  <%= render partial: 'filter_form/filter_extend', locals: { record_class: model_klass, keys: @filter_columns.pluck(:column_name) } %>
<% end %>
