<header class="as-bar">
  <button type="button" data-action="modal#close" class="button is-borderless px-5">
    <%= svg_tag 'xmark' %>
  </button>
  <p class="bar-title"><%= t('.title') %></p>
  <span class="px-5"></span>
</header>