<turbo_frame id="modal" data-controller="modal" class="modal is-mobile is-mobile-bottom is-active">
  <div data-action="click->modal#close" class="modal-background has-animate-fade-in"></div>
  <%= yield %>
</turbo_frame>
