<%= form_with theme: 'search', model: Com::Log.new, url: { action: params[:action] } do |f| %>
  <div class="field-body">
    <%= f.text_field :ip %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
